root-branch/pipeline/Customer_incremental_Data.json
{
	"name": "Customer_incremental_Data",
	"properties": {
		"activities": [
			{
				"name": "Lookforlastupdateddate",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "Customer_WaterMark",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Lookforlastupdateddate",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "MySqlSource",
						"query": {
							"value": "SELECT CustomerID, Name, Age, Gender, City, JoinDate, LoyaltyTier, Last_Modified\nFROM CUSTOMER_MASTER_DIM\nWHERE Last_Modified > @{activity('Lookforlastupdateddate').output.firstrow.LastLoadTimestamp}'",
							"type": "Expression"
						}
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings",
							"copyBehavior": "FlattenHierarchy"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Customer_Source_Data",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DIM_CUSTOMER",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "MaxLastModifiedUpdate",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Copy data1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "MySqlSource",
						"query": {
							"value": "SELECT MAX(LastUpdated) AS LastLoadTimestamp\nFROM CUSTOMER_MASTER_DIM",
							"type": "Expression"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings",
							"copyBehavior": "FlattenHierarchy"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "Customer_Source_Data",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Customer_WaterMark",
						"type": "DatasetReference"
					}
				]
			}
		],
		"folder": {
			"name": "Source2Staging"
		},
		"annotations": []
	}
}